<!DOCTYPE html>
<html>
<head>
	<title>LOG IN</title>
</head>
<body>
	<h1>LOG IN</h1>
	<a href="/change_pwd">CHANGE PASSWORD</a>
	<hr/>
	<form method="post">
	<fieldset>
		<legend>Log in</legend>
		<table>
			<tr>
				<td><label>ID</label></td>
				<td><input type="varchar(100)"  value="admin" disabled/></td>
			</tr>
			<tr>
				<td><label>PASSWORD</label></td>
				<td><input type="varchar(200)" name="pwd" autocomplete="off"/></td>
			</tr>
		</table>
		<input type="submit" />
	</fieldset>
	</form>
	<% if (data) {%>
        <div class="text-center">
            <h5>QR Code</h5>
            <img src="<%=data%>" alt="" style="width:100px; height:100px;">
        </div>
    <% } %>   
</body>
</html>
