<!DOCTYPE html>
<html>
<head>
	<title>LOG IN</title>
</head>
<body>
	<% if (data) {%>
        <div class="text-center">
            <h5>QR Code</h5>
            <img src="<%=data%>" alt="" style="width:300px; height:300px;">
        </div>
    <% } %>
</body>
</html>
